<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
		<!-- meta -->
		<meta name='author' content='xiaoz'>
		<meta name='description' content='<%= config.description %>'>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		
		<!-- style -->
		<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
	
		<link rel="stylesheet" type="text/css" href="/stylesheets/main-<%= locals.active%>.css" media="screen" />
		
		<% if(locals.active == 7 || locals.active == 6){ %>
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style_ie.css" />
		<![endif]-->
		<script type="text/javascript" src="/javascripts/modernizr.custom.48780.js"></script>
		<% } %>
		<!-- script -->
		<script src="http://a.tbcdn.cn/s/kissy/1.2.0/??kissy-min.js"> </script>
		
		<script type='text/javascript' src='/javascripts/app/base-min.js'></script>
		<script type='text/javascript' src='/javascripts/app/modernizr-2.5.3.js'></script>
		<title><%= config.description %></title>
		
		<script type="text/javascript">
	    var S = KISSY, DOM = S.DOM,Event = S.Event;	doc = document;
	    KISSY.config({
	        packages:[
	            {
	                name:"car", //包名
	                tag:"20120528",//时间戳, 添加在动态脚本路径后面, 用于更新包内模块代码
	                path:"/javascripts/app", //包对应路径, 相对路径指相对于当前页面路径
	                charset:"utf-8"//包里模块文件编码格式
	            }
	        ],
	        map:[
	             [/(.+car\/.+)-min.js(\?[^?]+)?$/, "$1.js$2"]
	         ]
	    });
		</script>
	</head>
	<body id="body" data-page="contact">
		<form name="form1" method="post" action="/" id="form1">
			<div id="container" class="dark"  >	
            <div class="center loading" id="J_Loading" style="display: none; "></div>
             <%- body %>	
     	</div>   
	</form>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/libs/isotope-min.js"></script>
    <script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2c5f7f6e79350e2e168af57006b1e6ad' type='text/javascript'%3E%3C/script%3E"));
	</script>

	</body>
</html>	
