    
	
	
	
<section  id="jms-slideshow" class="jms-slideshow" >
<DIV style="POSITION: relative; OVERFLOW: hidden; " id="ssss"" class="jms-wrapper step-step-1 delegating-step-step-1 ">
	<div class="ks-switchable-content">

	
	
	
				<div class="step color-1" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">黄山</h3>
						<p>黄山位于安徽省南部黄山市境内（景区由市直辖），为三山五岳中三山之一，有"天下第一奇山"之美称。为道教圣地，遗址遗迹众多，居中华十大名山中的第二位。徐霞客曾两次游黄山，留下"五岳归来不看山，黄山归来不看岳"的感叹。李白等大诗人在此留下了壮美诗篇。中国最美的、令人震撼的十大名山之一。黄山是著名的避暑胜地，是国家级风景名胜区和疗养避暑胜地。</p>
						
					</div>
                    <div class="pic">
					 <span><img src="images/mustgo/huangshan.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
       		<div class="step color-3" data-color="color-3" data-x="700"  data-z="1000" data-rotate="170">
       			<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>庐山</h3>
						<p>庐山，山体呈椭圆形，典型的地垒式长段块山约25公里，宽约10公里，绵延的90余座山峰，犹如九叠屏风，屏蔽着江西的北大门。以雄、奇、险、秀闻名于世，素有"匡庐奇秀甲天下"之美誉，与鸡公山、北戴河、莫干山并称四大避暑胜地。巍峨挺拔的青峰秀峦、喷雪鸣雷的银泉飞瀑、瞬息万变的云海奇观、俊奇巧秀的园林建筑，一展庐山的无穷魅力。庐山尤以盛夏如春的凉爽气候为中外游客所向往，是久负盛名的风景名胜区和避暑游览胜地。历代题诗极多，李白《望庐山瀑布》尤为著名。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/2.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                	<div class="step color-4" data-color="color-2" data-x="1400" data-scale="0.8" data-rotate="170">
                	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3> 雁荡山</h3>
						<p> 雁荡山位于中国东南温州市境和台州市南部。《载敬堂集》载："雁荡山以瓯江自然断裂，分北雁荡山和南雁荡山。2005年2月，有'古火山立体模型'之称的雁荡山被联合国教科文组织评为世界地质公园，以该公园管理机构和地质展示馆均在北雁荡山等因，北雁荡山或捷称雁荡山。"距杭州297公里，温州68公里。始开发于南北朝，兴于唐，盛于宋，素有"寰中绝胜"、"海上名山"之誉，史称"东南第一山"。广义的雁荡山景观，自北而南包括温岭的方山景区，乐清的显胜门景区、二灵景区、大龙湫景区，平阳的明王峰景区、石城景区和东西洞景区等。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/3.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
               	<div class="step color-5" data-color="color-2" data-x="2700" data-scale="0.8" data-rotate="170">
               	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>中岳嵩山</h3>
						<p>嵩山位于河南省西部，古时曾称外方嵩高崇高，五代后称中岳嵩山。由太室山与少室山组成，最高峰连天峰1512米；面积450平方公里，东西绵延60多公里；东依省会郑州，西临古都洛阳，南依颍水，北邻黄河。是我国文明的发源地，也是我国名胜风景区，入选世界地质公园、世界文化遗产名录。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/4.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                <div class="step color-1" data-color="color-4"  data-x="1400" data-y="600" data-scale="0.8" data-rotate="170">
                <div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>南岳衡山</h3>
						<p>衡山，又名南岳，是我国五岳之一，位于湖南省衡阳市南岳区，海拔1300.2米。由于气候条件较其他四岳为好，处处是茂林修竹，终年翠绿；奇花异草，四时飘香，自然景色十分秀丽，因而又有"南岳独秀"的美称。清人魏源《衡岳吟》中说："恒山如行，岱山如坐，华山如立，嵩山如卧，惟有南岳独如飞。"这是对衡山的赞美。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/5.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-2" data-color="color-5" data-x="2100"  data-y="-600" data-scale="0.8" data-rotate="170">
                	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>东岳泰山</h3>
						<p>泰山是我国的"五岳"之首，有"中华国山"、"天下第一山"之美誉，又称东岳，中国最美的、令人震撼的十大名山之一，泰山位于山东省中部，自然景观雄伟高大，有数千年精神文化的渗透和渲染以及人文景观的烘托，著名风景名胜有天烛峰、日观峰、百丈崖、仙人桥、五大夫松、望人松、龙潭飞瀑、云桥飞瀑、三潭飞瀑等。泰山于1987年被列入世界自然文化遗产名录，是我国第一个世界自然文化双遗产。数千年来，先后有十二位皇帝来泰山封禅 。孔子留下了"登泰山而小天下"的赞叹，杜甫则留下了"会当凌绝顶，一览众山小"的千古绝唱。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/6.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                <div class="step color-3" data-color="color-1" data-x="2800"  data-y="1200" data-scale="0.8" data-rotate="170">
                <div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>北岳恒山</h3>
						<p>恒山，人称北岳，亦名"太恒山"，又名"元岳、紫岳、大茂山"，海拔2017米，与东岳泰山、西岳华山、南岳衡山、中岳嵩山并称为五岳，扬名国内外。1982年，恒山以山西恒山风景名胜区的名义，被国务院批准列入第一批国家级风景名胜区名单。曾名常山、恒宗、元岳、紫岳。位于浑源县城南10公里处，距大同市62公里。其中，倒马关、紫荆关、平型关、雁门关、宁武关虎踞为险，是塞外高原通向冀中平原之咽喉要冲，自古是兵家必争之地。主峰天峰岭在浑源县城南，海拔2016.8米，被称为"人天北柱"，"绝塞名山"，"天下第二山"。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/7.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-4" data-color="color-2" data-x="2800"  data-y="600" data-scale="0.8" data-rotate="170">
                	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>西岳华山</h3>
						<p>华山是我国著名的五岳之一，海拔2154.9米，位于陕西省西安以东120公里历史文化故地渭南市的华阴市境内，北临坦荡的渭河平原和咆哮的黄河，南依秦岭，是秦岭支脉分水脊的北侧的一座花岗岩山。凭藉大自然风云变换的装扮，华山的千姿万态被有声有色的勾画出来，是国家级风景名胜区。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/8.jpg" class="reflect" /></span>
                    </div></div>
				</div>
                
                	<div class="step color-5" data-color="color-3" data-x="2800"  data-y="-600" data-scale="0.8" data-rotate="170">
                	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>安徽九华山</h3>
						<p>九华山 ，首批国家重点风景名胜区，著名的游览避暑胜地，现为国家5A级旅游区、全国文明风景旅游区示范点，与山西五台山、浙江普陀山、四川峨眉山并称为中国佛教四大名山，是"地狱未空誓不成佛，众生度尽方证菩提"的大愿地藏王菩萨道场，被誉为国际性佛教道场。</p>
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/9.jpg" class="reflect" /></span>
                    </div></div>
				</div>
                
                	<div class="step color-4" data-color="color-4" data-x="3500"  data-y="0" data-scale="0.8" data-rotate="170" >
                	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>山西五台山</h3>
						<p>五台山位于中国山西省东北部，距省会太原市230公里。与四川峨嵋山、安徽九华山、浙江普陀山共称"中国佛教四大名山"。是中国佛教及旅游胜地，列中国十大避暑名山之首。2009年被联合国教科文组织以文化景观列入世界遗产名录。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/10.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-3" data-color="color-5" data-x="3500"  data-y="-600" data-scale="0.8" data-rotate="170">
                	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>四川峨眉山</h3>
						<p>峨眉山位于中国四川峨眉山市境内，景区面积154平方公里，最高峰万佛顶海拔3099米。地势陡峭，风景秀丽，有"秀甲天下"之美誉。气候多样，植被丰富，共有3000多种植物，其中包括世界上稀有的树种。山路沿途有较多猴群，常结队向游人讨食，胜为峨眉一大特色。峨眉山是中国四大佛教名山之一，作为普贤菩萨的道场，主要崇奉普贤大士，有寺庙约26座，重要的有八大寺庙，佛事频繁。1996年12月6日，峨眉山乐山大佛作为文化与自然双重遗产被联合国教科文组织列入世界遗产名录。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/11.jpg" class="reflect" /></span>
                    </div></div>
				</div>
                
                	<div class="step color-2" data-color="color-1" data-x="3500"  data-y="-1200" data-scale="0.8" data-rotate="170">
                	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>浙江普陀山</h3>
						<p>普陀山，与山西五台山、四川峨眉山、安徽九华山并称为中国佛教四大名山，是观世音菩萨教化众生的道场。普陀山是舟山群岛1390个岛屿中的一个小岛，形似苍龙卧海，面积近13平方公里，与舟山群岛的沈家门隔海相望，素有"海天佛国"、"南海圣境"之称，是首批国家重点风景名胜区。2007年5月8日，舟山市普陀山风景名胜区，经国家旅游局正式批准，为国家5A级旅游风景区。"海上有仙山，山在虚无缥缈间"，普陀山以其神奇、神圣、神秘，成为驰誉中外的旅游胜地。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/12.jpg" class="reflect" /></span>
                    </div></div>
				</div>
                
                	<div class="step color-1" data-color="color-2" data-x="4200"  data-y="600" data-scale="0.8" data-rotate="170">
                	<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3>安徽齐云山</h3>
						<p>齐云山，是中国四大道教名山，古称白岳。位于徽州休宁县城西十五公里处。海拔585 米，方圆一百平方公里。境内有三十六奇峰，七十二怪崖，间以幽洞、曲涧、碧池、青泉，汇成胜境。齐云山与江西龙虎山、湖北武当山、四川鹤鸣山并称中国四大道教圣地．历史上有"黄山白岳甲江南"之称，1981年列为省重点保护单位，1994年国务院公布为国家重点风景名胜区。另外，江西也有同名山峰。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/13.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-2"  data-color="color-3" data-x="4200"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>湖北武当山</h3>
						<p>武当山，又名太和山、谢罗山、参上山、仙室山，古有"太岳"、"玄岳"、"大岳"之称。位于湖北省西北部的十堰市丹江口境内， 属大巴山东段。西界堵河，东界南河，北界汉江，南界军店河、马南河，背倚苍茫千里的神农架原始森林，面临碧波万顷的丹江口水库。武当山是联合国公布的世界文化遗产地之一，是中国国家重点风景名胜区，同时它也是道教名山和武当拳的发源地。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/14.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-3"  data-color="color-4" data-x="4200"  data-y="1800" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>江西龙虎山</h3>
						<p>龙虎山龙虎山位于江西省鹰潭市西南20公里处贵溪市境内，是道教正一派的祖庭。东汉中叶，正一道创始人张陵曾在此炼丹，传说"丹成而龙虎现，山因得名"。据道教典籍记载，张陵第四代孙张盛在三国或西晋时已赴龙虎山定居，此后张天师后裔世居龙虎山，至今承袭六十三代，历经一千九百多年。北京时间2010年8月2日，龙虎山与龟峰被一并列入《世界自然遗产名录》。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/15.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-4"  data-color="color-5" data-x="4900"  data-y="-600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>四川青城山</h3>
						<p>青城山为中国道教发源地之一，属道教名山。位于四川省都江堰市西南，古称"丈人山"，东距成都市68公里，处于都江堰水利工程西南10公里处。主峰老霄顶海拔1260米。在四川名山中与剑门之险、峨嵋之秀、夔门之雄齐名，有"青城天下幽"之美誉。青城山是中国著名的历史名山和国家重点风景名胜区，并于2000年同都江堰共同作为一项世界文化遗产被列入世界遗产名录。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/16.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-5" data-color="color-1" data-x="4900"  data-y="600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>成都西岭雪山</h3>
						<p>西岭雪山，为中国四川省成都市大邑县境内著名景区。总面积483平方公里。区内有茫茫的原始林海，险峻的悬崖绝壁，数不尽的奇花异草，罕见的珍禽异兽，终年不断的激流飞瀑，云海、日出、森林佛光、阴阳界、日照金山等变化莫测的高山气象景观，是中国级风景名胜区。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/17.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-1" data-color="color-2" data-x="4900"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>安徽天柱山</h3>
						<p>安徽天柱山，中华历史文化名山，自古就有"南岳"之名。隋以前称衡山（湖南衡山为湘山）汉设衡山郡！公元前106年，汉武帝刘彻登临天柱山封号"南岳"。道家将其列为第14洞天、57福地。天柱山又名皖山，安徽省简称"皖"由此而来。唐代诗人白居易的诗句"天柱一峰擎日月，洞门千仞锁云雷"是对天柱山雄奇景象的精彩描叙。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/18.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                	<div class="step color-2"data-color="color-3" data-x="4900"  data-y="1800" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>甘肃崆峒山</h3>
						<p>崆峒山属六盘山支脉，是天然的动植物王国，有各类植物1000多种，动物300余种，森林覆盖率达90%以上。其间峰峦雄峙，危崖耸立，似鬼斧神工；林海浩瀚，烟笼雾锁，如缥缈仙境；高峡平湖，水天一色，有漓江神韵。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/19.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                <div class="step color-3" data-color="color-4" data-x="5700"  data-y="-600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>广东白云山</h3>
						<p>广州白云山属岭南丘陵地形，最高点海拔382米，自古以来就是羊城有名的风景胜地。60年代和80年代，白云山分别以"白云松涛"和"云山锦秀"胜景两度被评为"羊城新八景"之一。清末时有白云寺、双溪寺、能仁寺、弥勒寺等古寺及白山仙馆、明珠、百花冢等名胜古迹。每逢九九重阳佳节，羊城人民更以登白云山为乐事，届时，扶老携幼，人流熙熙攘攘的热闹场景便构成羊城一幅独特的风情画。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/20.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
				
                  <div class="step color-4" data-color="color-5" data-x="5700"  data-y="1600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>贵州雷公山</h3>
						<p>苗峰雷公山，位于贵州省东南部雷山县境内，海拔2178.8米。它不仅是国家级自然保护区和国家级森林公园，而且是人类宝贵的自然遗产和中华民族的绚丽瑰宝，被联合国教科文卫组织称为"当今人类保存最完好的一块未受污染的生态文化净地，是人类返璞归真、回归大自然的理想王国，是世界十大森林旅游胜地之一。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/21.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                     <div class="step color-5" data-color="color-1" data-x="-700"  data-y="600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>桂林象鼻山</h3>
						<p>象鼻山原名漓山，又叫仪山、沉水山，简称象山，位于广西区桂林市内桃花江与漓江汇流处，山因酷似一只站在江边伸鼻豪饮漓江甘泉的巨象而得名，被人们称为桂林山水的象征。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/22.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                     <div class="step color-1" data-color="color-2" data-x="-1400"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>海南五指山</h3>
						<p>五指山市位于海南岛中南部腹地，是海南省中部少数民族的聚居地，民间对五指山赞美，流传着这么一句话："不到五指山，不算到海南。"五指山市周围群山环抱，森林茂密，是有名的"翡翠山城"。它以海南岛上最高山峰五指山因而得名。海南岛最大河流万泉河就发源于五指山市境内。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/23.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                     <div class="step color-2" data-color="color-3" data-x="-2100"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>河北苍岩山</h3>
						<p>苍岩山位于河北省石家庄市西南50公里，地处井陉县境内，总面积63平方公里。为中国历史文化名山、国家重点风景名胜区、国家4A级旅游区、苍岩山福庆寺做为苍岩山的核心景区被列为中国重点文物保护单位。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/24.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                     <div class="step color-3" data-color="color-4" data-x="-2800"  data-y="0" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>河南鸡公山</h3>
						<p>鸡公山，位于河南省信阳市境内，1988年晋升为国家级自然保护区，主要保护对象为亚热带森林植被过渡类型及珍稀野生动植物。区内森林茂密、生物资源丰富，有国家重点保护动植物大鲵、长尾雉、香果树等，是河南农林、师范、医药等高校教学和科研基地。鸡公山有"青分豫楚、襟扼三江"之美誉，"佛光、云海、雾淞、雨淞、霞光、异国花草、奇峰怪石、瀑布流泉"被称为鸡公山的八大自然景观，山上保存着民国时期不同国别、不同风格的建筑，是中国四大避暑胜地之一。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/25.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                     <div class="step color-4" data-color="color-5" data-x="-2800"  data-y="-1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>福建冠豸山</h3>
						<p>连城冠豸山<豸，在此读寨（zhai）>，以其主峰形似古代獬豸冠而得名，寓含刚正廉明之意，旧称"东田山"、"莲峰山"。位于福建连城县城东郊1公里。山体于县戚之东1.5公里处平地兀立，不连岗自高．不托势自远。景区方圆123平方公里。以其天生丽质于1986年荣膺"福建十佳风景区"，1994年，国务院公布其为国家重点风景名胜区。"平地兀立，不连岗自高，不托势自远"。景区方圆123平方公里，集山、水、岩、洞、泉、寺、园诸神秀于一身，雄奇、清丽、幽深，与武夷同属丹霞地貌，被誉为："北夷南豸，丹霞双绝"。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/26.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
                     <div class="step color-5" data-color="color-1" data-x="-2800"  data-y="-2400" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>湖北神农架</h3>
						<p>神农架位于湖北省西部边陲，东与湖北省保康县接壤，西与重庆市巫山县毗邻，南依兴山、巴东而濒三峡，北倚房县、竹山且近武当，地跨东经109°56′--110°58′，北纬31°15′--31°75′，总面积3253平方公里，辖5镇3乡和1个国家级森林及野生动物类型自然保护区、1个国有森工企业林业管理局、1个国家湿地公园（保护区管理局、林业管理局和湿地公园均为正处级单位），林地占85%以上，总人口8万人。神农架是1970年经国务院批准建制，直属湖北省管辖，是我国唯一以"林区"命名的行政区。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/27.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
          
                   <div class="step color-1" data-color="color-2" data-x="-3500"  data-y="0" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>福建清源山</h3>
						<p>清源山（Qingyuan Mountain）位于泉州北郊，故俗称北山；又因峰峦之间常有云霞缭绕，亦称齐云山。面积62平方公里，主景区距泉州城市区3公里。清源山是闽中戴云山余脉，峰峦起伏，岩石遍布盎然成趣，多处胜景天成，为572米，山脉绵延20公里，象形岩石，千奇著名自然景区，有"闽海蓬莱第一山"之美誉，为泉州四大名山之一。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/28.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
            
                   <div class="step color-2" data-color="color-3" data-x="-3500"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>福建太姥山</h3>
						<p>太姥山位于福建省东北部，在福鼎市正南距市区四十五公里，约在东经 120度与北纬27度的附近。挺立于东海之滨，三面临海，一面背山。主峰海拔917.3米。它北望雁荡山，西眺武夷山，三者成鼎足之势。相传尧时老母种兰于山中，逢道士而羽化仙去，故名"太母"，后又改称"太姥"。闽人称太姥、武夷为"双绝"，浙人视太姥、雁荡为"昆仲"。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/29.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
                
              <div class="step color-3" data-color="color-4" data-x="-4500"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>福建武夷山</h3>
						<p>武夷山遗产地处中国福建省的西北部，江西省东部，位于福建与江西的交界处。总面积999.75平方公里，通用福建赣语、闽北方言和国语。根据区内资源的不同特征，将全区划分为西部生物多样性、中部九曲溪生态、东部自然与文化景观以及城村闽越王城遗址等4个保护区。核心面积63575公顷，核心次面积36400公顷，同时划定了外围保护地带--缓冲区，面积27888公顷。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/30.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
				
				   <div class="step color-4" data-color="color-5" data-x="-4500"  data-y="1800" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>广东丹霞山</h3>
						<p>中国红石公园——丹霞山为世界地质公园、世界遗产提名引地、世界自然遗产、国家AAAAA级风景名胜区、国家级自然保护区、国家地质公园 ，位于广东省韶关市仁化县和浈江区境内。东经113°36′25″至113°47′53″，北纬24°51′48″至25°04′12″之间。面积292平方千米。是广东省面积最大、景色最美的、以丹霞地貌景观为主的风景区和自然遗产地。 与鼎湖山、罗浮山、西樵山合称为广东四大名山 。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/31.jpg" class="reflect" /></span>
                    </div>
					</div>
				</div>
				
				   <div class="step color-5" data-color="color-1" data-x="-4500"  data-y="2400" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>湖南天子山</h3>
						<p>天子山因明初土家族领袖农民起义领袖向大坤自号"向王天子"，而得名。天子山东临索溪峪，南接张家界，北依桑植县，是武陵源区四大风景之一。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/32.jpg" class="reflect" /></span>
                    </div></div>
					
				</div>
				
				   <div class="step color-1"  data-color="color-2" data-x="-4500"  data-y="3000" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>九寨沟</h3>
						<p>九寨沟位于四川省阿坝藏族羌族自治州九寨沟县漳扎镇，是白水沟上游白河的支沟，以有九个藏族村寨（又称何药九寨）而得名。九寨沟海拔在2000m以上，遍布原始森林，沟内分布108个湖泊，有"童话世界"之誉；九寨沟为全国重点风景名胜区，并被列入世界遗产名录。2007年5月8日，阿坝藏族羌族自治州九寨沟旅游景区经国家旅游局正式批准为国家AAAAA级旅游景区。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/33.jpg" class="reflect" /></span>
                    </div></div>
					
				</div>
				
				   <div class="step color-2"  data-color="color-3" data-x="-4500"  data-y="5000" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>吉林长白山</h3>
						<p>长白山，位于吉林省延边州安图县和白山市抚松县境内，是中朝两国的界山、中华十大名山之一、国家5A级风景区、关东第一山。因其主峰多白色浮石与积雪而得名，素有"千年积雪万年松，直上人间第一峰"的美誉。中国境内的白云峰海拔高度2691米，是东北第一高峰，而长白山最高峰是位于朝鲜境内的将军峰。长白山是中国东北境内海拔最高、喷口最大的火山体。长白山还有一个美好的寓意"长相守、到白头"。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/34.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				  <div class="step color-3"  data-color="color-4" data-x="-4500"  data-y="3600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>江西井冈山</h3>
						<p>井冈山，中国名山之一，是一块红色的土地；绿色的宝库。"四面重峦障，五溪曲水萦。红根已深植，今日正繁荣。老一辈无产阶级革命家董必武1960年访问井冈山时对井冈山发展的评价，是井冈山――革命山――旅游山――文化山。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/35.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				  <div class="step color-4" data-color="color-5" data-x="-5200"  data-y="-2400" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>新疆天山</h3>
						<p>天山是中亚东部地区（主要在中国新疆）的一条大山脉，横贯中国新疆的中部，西端伸入哈萨克斯坦。古名白山，又名雪山，冬夏有雪。故名，匈奴谓之天山，唐时又名折罗漫山，高达二万一千九百尺，长约2500km，宽约250～300km，平均海拔约5km。最高峰是托木尔峰，海拔为7435.3m，汗腾格里峰海拔6995m，博格达峰的海拔5445m。这些高峰都在中国境内，峰顶白雪皑皑。新疆的三条大河——锡尔河、楚河和伊犁河都发源于此山。天山山脉把新疆分成两部分：南边是塔里木盆地；北边是准噶尔盆地。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/36.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				  <div class="step color-5" data-color="color-1" data-x="-5200"  data-y="-1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>玉龙雪山</h3>
						<p>玉龙雪山（Jade Dragon Snow Mountain）玉龙雪山是北半球最南的大雪山。山势由北向南走向，南北长35公里，东西宽25公里，雪山面积960平方 公里，高山雪域风景位于海拔4000米以上。是云南亚热带的极高山地，从山脚河谷到峰顶具备了亚热带、温带到寒带的完整的垂直带自然景观。雪山自然旅游资源丰富，景观大致可分为雪域、冰川景观、高山草甸景观、原始森林景观、雪山水景等。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/37.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				  <div class="step color-1" data-color="color-2" data-x="-5200"  data-y="-600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>贵州月亮山</h3>
						<p>月亮山主峰海拔1490.3米，相对高差1100余米，山体雄伟高大，沟谷切割深长。因地处南亚热带，气候温暖湿润，珍稀动植物种类繁多，素有"物种基因库"之称。有若干与恐龙同时代的动植物，如尾班瘰螈、桫椤等。除常见的珍稀动植物外，尚有极为罕见的夜光蛇、脆蛇、七尾蛇、美女蛇等。月亮山因拥有独特的地理优势，山中古来百岁寿星众多，远远高出联合国规定的人口比例。目前寿龄最长者曾治川145岁去世，堪称全国之最。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/38.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				  <div class="step color-2" data-color="color-3" data-x="-5200"  data-y="0" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>辽宁凤凰山</h3>
						<p>凤凰山位于凤城东南3公里处，属长白山余脉，面积120多平方千米，主峰攒云峰海拔840米，现已列为国家级风景区，素以险中含奇、秀里藏幽著称，与千山、医巫闾山、药山合称为辽宁"四大名山"。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/39.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				  <div class="step color-3" data-color="color-4" data-x="-5200"  data-y="600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>青岛崂山</h3>
						<p>崂山，古代又曾称牢山、劳山、鳌山等，史书各有解释，说法不一。它是山东半岛的主要山脉，崂山的主峰名为"巨峰"，又称"崂顶"，海拔1132.7米，是我国海岸线第一高峰，有着海上"第一名山"之称。它耸立在黄海之滨，高大雄伟。当地有一句古语说："泰山虽云高，不如东海崂。"</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/40.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				  <div class="step color-4" data-color="color-5" data-x="-5200"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>太行山</h3>
						<p>太行山（T'ai-hang Mountains 亦作T'ai-hang Shan或Taihang Shan。）又名五行山、王母山、女娲山。中国东部地区的重要山脉和地理分界线。耸于北京、河北、山西、河南4省、市间。北起北京西山，南达豫北黄河北崖，西接山西高原，东临华北平原，绵延400余公里，为山西东部、东南部与河北、河南两省的天然界山。它由多种岩石结构组成，呈现不同的地貌，这里储藏有丰富的煤炭资源。太行山地区有众多河流发源或流经，使连绵的山脉中断形成"水口"，这里是华北平原进入山西高原的要道。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/41.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				  <div class="step color-5" data-color="color-1" data-x="-5900"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>湖南桃花源</h3>
						<p>桃花源这个名胜古迹，神州大地家喻户晓，东晋大诗人陶渊明在《桃花源诗并序》中描绘的"世外桃源"，环球之内尽人皆知。久负盛名的桃花源究竟在何处?权威工具书《辞海》在有关"桃源山"条目的解释中明确指出，桃源山"在湖南省桃源县西南。下有桃源洞，又名秦人洞，白马洞"，是东晋陶渊明所记桃花源的遗址。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/42.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-1" data-color="color-2" data-x="-5900"  data-y="1800" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>武陵源</h3>
						<p>国家重点风景名胜区。国家首批5A级旅游景区。位于湖南省西北部武陵源山脉中段桑植县、慈利县交界处，隶属张家界市武陵源区。由张家界国家森林公园和国家地质公园、索溪峪、天子山、杨家界四部分组成。总面积三百六十九平方公里，其中，中心景区面积二百六十四平方公里。属砂岩峰林地貌。素以峰、谷、水、林、洞著称。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/43.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-2"data-color="color-3" data-x="-5900"  data-y="2400" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>内蒙古贺兰山</h3>
						<p>贺兰山脉位于宁夏回族自治区与内蒙古自治区交界处，北起巴彦敖包，南至毛土坑敖包及青铜峡。山势雄伟，若群马奔腾。蒙古语称骏马为"贺兰"，故名贺兰山(此说疑有误，唐代韦蟾有诗云："贺兰山下果园成"，蒙古人十三世纪才崛起，说源于蒙语只是通用说法）。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/44.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-3" data-color="color-4" data-x="-5900"  data-y="3000" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>上饶三清山</h3>
						<p>三清山位于中国江西省上饶市玉山县与上饶德兴市交界处，为怀玉山脉主峰。因玉京、玉虚、玉华"三峰峻拔、如三清列坐其巅"而得其名，三峰中以玉京峰为最高，海拔1819.9米，是江西第五高峰，也是信江的源头。三清山是道教名山，风景秀丽。1988年8月被列为第二批国家重点风景名胜区。2005年9月被列为国家地质公园。现为国家AAAAA级旅游区。2008年7月8日，第32届世界遗产大会将三清山列入《世界遗产名录》，三清山成为中国第七个、江西第一个世界自然遗产。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/45.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-4" data-color="color-5" data-x="-5900"  data-y="4000" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>浙江莫干山</h3>
						<p>莫干山，为天目山之余脉，位于浙江省北部德清县境内，美丽富饶的沪、宁、杭金三角的中心，国家重点风景名胜区。因春秋末年，吴王阖闾派干将、莫邪在此铸成举世无双的雌雄双剑而得名，是中国著名的度假休闲旅游及避暑胜地。莫干山山峦连绵起伏，风景秀丽多姿，景区面积达43平方公里，它虽不及泰岱之雄伟、华山之险峻，却以绿荫如海的修竹、清澈不竭的山泉、星罗棋布的别墅、四季各异的迷人风光称秀于江南，享有"江南第一山"之美誉。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/46.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-3" data-color="color-1" data-x="-6800"  data-y="-600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>台湾阿里山</h3>
						<p>阿里山，中国地名，是台湾省的著名旅游风景区，阿里山位于台湾省嘉义市东方75公里，地处海拔2000公尺以上，坐标为北纬23度31分，东经120度48分，东面靠近台湾最高峰玉山。由于山区气候温和，盛夏时依然清爽宜人，加上林木葱翠，是全台湾最理想的避暑胜地。另外有同名歌曲《阿里山》。阿里山远不止《高山青》，了解真实的阿里山就应深入到阿里山邹族文化部落里面。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/47.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-2" data-color="color-2" data-x="-6800"  data-y="-1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>江西三百山</h3>
						<p>三百山国家森林公园属中山高丘地貌，中山逶迤、重峦叠嶂、危崖奇石、峰奇石异。山内满谷纵横，溪流密布，剑河深涧，水秀瀑雄。三百山及其附近300多平方公里山地上森林茂密，古木参天，巨藤倒挂，遮天蔽日。111科661重木本植物在其中争奇斗妍，400余种野生动物在林内生息繁衍。三百山国家森林公园集山势、林海、瀑布、温泉四大自然风景奇观为一体，山水林石俱美，原始、古朴、清寂，一年四季气候温凉，舒适宜人。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/48.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-1" data-color="color-3" data-x="-6800"  data-y="-1800" data-scale="0.8" data-rotate="170">
				<div class="clear" style="clear: both;">	<div class="jms-content">
						<h3>山西五老峰</h3>
						<p>山西运城永济五老峰风景名胜区，位于山西省永济市市区东南16公里的中条山脉，地处晋、秦、豫三省交汇之黄河金三角。是河洛文化早期传播的圣地，也是我国北方道教全真派的发祥地之一。《七鉴道书》称之为"道家天下第五十二福地"。 是道教文化名山，它与晋北佛教圣地五台山南北对峙， 齐名天下，与西岳华山遥遥相对，历史上素有"东华山"之称誉</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/49.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-3" data-color="color-4" data-x="-6800"  data-y="2600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>四川光雾山</h3>
						<p>光雾山位于四川省巴中市南江县北部，距县城70公里，到陕西汉中市70公里，主峰海拔2500米，景区面积400余平方公里，气势雄伟辽阔。古珍稀动植物为国内名山之首，1993年被省政府列为全省重点风景名胜区。2004年元月被国务院批准为国家重点风景名胜区。2009年荣膺国家AAAA级旅游景区。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/50.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-4" data-color="color-5" data-x="-6800"  data-y="-3600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>浙江江郎山</h3>
						<p>江郎山位于浙江省衢州市江山市江郎乡境内。江郎山景区由三爿石、十八曲、塔山、牛鼻峰、须女湖（青龙湖）和仙居寺等部分组成，面积11.86平方公里，景源类型以自然景观为主，同时也有丰富的人文景观。江郎山景区为国家级重点风景名胜区和国家级AAAA级景区。2010年8月作为"中国丹霞"的系列提名地之一列入世界自然遗产名录。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/51.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-5" data-color="color-2" data-x="-7800"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>重庆金佛山</h3>
						<p>金佛山位于重庆南部南川区境内，融山、水、石、林、泉、洞为一体，集雄、奇、幽、险、秀于一身，风景秀丽、气候宜人，旅游资源丰富，以其独特的自然风貌，品种繁多的珍稀动植物，雄险怪奇的岩体造型，神秘而幽深的洞宫地府，变幻莫测的气象景观和珍贵的文物古迹而荣列国家重点风景名胜区和国家森林公园。被国内外专家评定为极有开发价值的自然风景区。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/52.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-3" data-color="color-3" data-x="-7800"  data-y="2200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>新疆吐鲁番火焰山</h3>
						<p>新疆火焰山是吐鲁番最出名的景点，位于吐鲁番盆地的北缘，古丝绸之路北道。火焰山以红色的花岗岩反射阳光而闻名遐迩，这座火焰山又称"红山"。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/53.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-1" data-color="color-4" data-x="-7800"  data-y="3200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>四川乐山大佛</h3>
						<p>乐山大佛地处四川省乐山市，岷江、青衣江、大渡河三江汇流处，与乐山城隔江相望。乐山大佛雕凿在岷江、青衣江、大渡河汇流处岩壁上，依岷江南岸凌云山栖霞峰临江峭壁凿造而成，又名凌云大佛，为弥勒佛坐像，是唐代摩岩造像的艺术精品之一，是世界上最大的石刻弥勒佛坐像，国家5A级旅游景区 。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/54.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-2" data-color="color-5" data-x="-7800"  data-y="4200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>四川邛海―螺髻山</h3>
						<p>螺髻山位于四川省凉山彝族自治州首府西昌市城南30公里处，跨西昌市、普格县、德昌县一市两县，总面积2400平方公里，其中主要景区面积1083平方公里，主峰海拔4359米。螺髻山是凉山州国家4A级风景区螺髻山—泸山—邛海风景区的组成部分。2002年5月，四川邛海－螺髻山风景名胜区经国务院批准列入第四批国家级风景名胜区名单。螺髻山之名来源于与峨眉山的"姊妹"关系，"峨眉山似女人蚕蛾之眉，螺髻山似少女头上青螺状之发髻"。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/55.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-3" data-color="color-4" data-x="-8800"  data-y="1200" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>四川蜀南竹海</h3>
						<p>翠甲天下的蜀南竹海，位于四川南部的宜宾市境内，幅员面积120平方公里，核心景区44平方公里，共有八大主景区两大序景区134处景点。景区内共有竹子58种，7万余亩，是我国最大的集山水、溶洞、湖泊、瀑布于一体，兼有历史悠久的人文景观的最大原始"绿竹公园"；植被覆盖率达87%，为我国空气负离子含量极高的天然氧吧。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/56.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-4" data-color="color-3" data-x="-8800"  data-y="2400" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>四川四姑娘山</h3>
						<p>四姑娘山位于四川阿坝藏族羌族自治州，由四座长年被冰雪覆盖的山峰组成。如同头披白纱，姿容俊俏的四位少女。其中幺妹身材苗条、体态婀娜，常说的"四姑娘"就是指这座最高最美的雪峰。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/57.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-5" data-color="color-2" data-x="-8900"  data-y="3600" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>云南-苍山洱海</h3>
						<p>云南省大理白族自治州的苍山洱海是古今旅游者所向往的地方。明代著名文人杨升庵描绘它"山则苍茏垒翠，海则半月掩蓝"，"一望点苍，不觉神爽飞越"。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/58.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				 <div class="step color-1" data-color="color-5" data-x="-8800"  data-y="4800" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>云南路南石林</h3>
						<p>云南昆明路南石林风景名胜区，有奇石组成的石头森林，梦幻般的溶洞，秀丽的高原淡水湖泊，飞流奔腾雄伟壮观的瀑布。大自然最美丽动人的景色，都集中在350平方公里的保护区里，与居住在这里的彝族风情相辉映，被誉为"天下第一奇观"，成为世界著名的旅游胜地。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/59.jpg" class="reflect" /></span>
                    </div></div>
				</div>
				
				 <div class="step color-2" data-color="color-2" data-x="-8800"  data-y="5800" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>浙江仙都</h3>
						<p>古代的仙都，指名动天下的大都会绍兴，唐朝宰相元稹有诗"仙都难画亦难书、天下风光属会稽"。 现在的仙都，位于浙江省丽水市缙云县境内，是一处以峰岩奇绝、山水神秀为景观特色，融田园风光与人文史迹为一体，以观光、避暑休闲和开展科学文化活动为一体的国家级重点风景名胜区；亦是一个山明水秀、景物优美、气候宜人的游览胜地。境内九曲练溪，十里画廊，山水飘逸，云雾缭绕。</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/60.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				 <div class="step color-4" data-color="color-3" data-x="-8800"  data-y="6800" data-scale="0.8" data-rotate="170">
					<div class="clear" style="clear: both;"><div class="jms-content">
						<h3>浙江雪窦山</h3>
						<p>雪窦山风景区，位于浙江省奉化市溪口镇西北，为四明山支脉的最高峰，海拔800米。 有"四明第一山"之誉。山上有乳峰，乳峰有窦，水从窦出，色白如乳，故泉名乳泉，窦称雪窦，山名亦因此得名，风景区包括溪口镇、雪窦山、亭下湖三部分。有千丈岩、三隐潭瀑布，妙高台、商量岗、林海等景观</p>
						
					</div>
                    <div class="pic">
                    	<span><img src="images/mustgo/61.jpg" class="reflect" /></span>
                    </div>
                   </div>
				</div>
</div>
</DIV>
<nav class="jms-arrows">
<SPAN class="jms-arrows-prev" ></SPAN>
<SPAN class="jms-arrows-next" ></SPAN>
</nav>
<ul class="ks-switchable-nav" style="display: none">
            <li class="ks-active">&bull;</li>
            <li>&bull;</li>
            <li>&bull;</li>
        </ul>
</section>

		<script type="text/javascript">
		KISSY.use("event,switchable,datalazyload", function(S, Event,Switchable) {
		    var Carousel = Switchable.Carousel;

		    S.ready(function(S) {
		        //通过DOM元素新建旋转木马
		        var carousel = new Carousel('#jms-slideshow', {
		            effect: 'scrollx',
		            easing: 'easeOutStrong',
		            steps: 1,
		            viewSize: [640],
		            circular: false,
		            prevBtnCls: 'jms-arrows-prev',
		            nextBtnCls: 'jms-arrows-next',
		            //autoplay:true,//是否自动切换
		            disableBtnCls: 'disable'
		           
		        });

		       // carousel.on('itemSelected', function(ev) {
		       //     alert('I am selected. src = ' + ev.item.src);
		       // });
		        window.carousel = carousel;
		    });
		});
			
			KISSY.config({
				  packages:[ {
					  name:"gallery",
					  path : "http://a.tbcdn.cn/s/kissy",
					  charset:"utf-8"
				  } ],
				    map:[
				 [/(.+gallery\/.+)-min.js(\?[^?]+)?$/, "$1.js$2"]
				]
			});
			
			  KISSY.use('gallery/reflection/1.0/index', function(S, Reflection) {
       			 S.ready(function(S) {
				/*当没有参数时，给所有带有reflect类的图片创建倒影，倒影的高度和透明度比例在图片自定义属性data-rheight和data-ropacity中配置*/
				window.reflection = new Reflection('.reflect' ,{'height':.2,'opacity':.7});
				});
			});

		</script>