<div style="position: absolute;top:0px;width:700px;height:550px">
<section  id="jms-slideshow" class="jms-slideshow" >
	<div >
		<ul class="ks-switchable-nav" style="padding: 0px" >
            <li class="ks-active nameLi" > <span>香酥排骨</span></li>
            <li class="nameLi" ><span>草莓酱排骨</span></li>
            <li class="nameLi"><span>糖醋排骨</span></li>
            <li class="nameLi"><span>豉香排骨</span></li>
            <li class="nameLi"><span>五香粉蒸排骨</span></li>
            <li class="nameLi"><span>海带排骨汤</span></li>
            <li class="nameLi"><span>莲藕排骨汤</span></li>
            <li class="nameLi"><span>冬瓜排骨汤</span></li>
            <li class="nameLi"><span>孜然排骨</span></li>
            <li class="nameLi"><span>红烧排骨</span></li>
                          
        </ul>
	</div>
<DIV style="POSITION: relative; OVERFLOW: hidden; " id="ssss" class="jms-wrapper step-step-1 delegating-step-step-1">
	<div class="ks-switchable-content">
				<div class="step color-1" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">香酥排骨</h3>
						<p><span class="color">用料：</span> 1、猪排骨一斤。 2、葱三棵。 </p>
						<p> 3、老姜一块。 4、酱油一大匙。</p> 
						<p>5、五香粉咖啡匙。6、熟芝麻一大匙。7、香油一小匙。8、盐、味精适量。9、汤或水一汤匙。</p> 
						<p><span class="color">做法：</span>： 1、排骨斩段，过飞水捞出；葱切段；姜切片。 2、将排骨放沸水锅中煮约二十分钟，捞出后装碗里，放入酱油、姜片、盐，拌匀码味约三十分钟。 3、锅中放油烧至七成热，下排骨炸至表面微黄色后捞出。锅中留约一两油，放入排骨、汤或水、五香粉、味精，用中火烧至汤汁将干时，放芝麻、香油铲匀即可起锅装盘上桌。 </p>
						
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/1.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				<div class="step color-5" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="color-5">草莓酱排骨</h3>
						<p><span class="color">用料：</span> 1、猪排骨半斤。2、草莓酱两大匙。3、蕃茄酱两大匙。4、白糖一咖啡匙。 5、盐、鸡精适量。  </p>
						<p><span class="color">做法：</span>1、排骨斩段，飞水去血沫后捞出。 2、将排骨装盘子里，放沸水蒸锅中大火蒸约半小时后，取出待用。 3、锅中放油烧至四成热，放入草莓酱、蕃茄酱、白糖、盐用小火慢炒约一分钟，下排骨、鸡精，翻炒均匀后起锅装盘即成。  </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/2.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				
					<div class="step color-3" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">糖醋排骨</h3>
						<p><span class="color">用料：</span> 1、猪排骨一斤，斩段。 2、白糖三大匙。 3、醋四大匙。 4、酱油两大匙。 5、葱四棵，切段。 6、老姜一小块、蒜一瓣，均切片。 7、泡辣椒六个，切段。 8、淀粉一大匙，加水兑成芡汁。 9、盐适量。   </p>
						<p><span class="color">做法：</span>　1、将排骨过沸水，捞出沥干待用。 2、锅中放油烧至七成热，下排骨爆干水气再爆至微黄，放入酱油、泡辣椒段、姜蒜片略炒后，加约两斤水，烧沸后改小火烧约一小时。至汤汁快干时，下盐、醋、糖、葱铲匀，勾芡，铲匀，起锅装盘即成。   </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/3.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				
					<div class="step color-4" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">豉香排骨</h3>
						<p><span class="color">用料：</span> 1、排骨一斤半。 2、豆豉三大匙。 3、芹菜二两。 4、葱半两。 5、老姜一块。 6、蒜半个。 7、油辣椒三大匙。 8、蚝油两大匙。 9、干红葡萄酒半汤匙。 10、盐、鸡精适量。   </p>
						<p><span class="color">做法：</span>1、将排骨过沸水后捞出沥干水分；蒜切末；老姜一半切末一半切片；芹菜切段；葱切段。 2、在排骨中放入姜片、葱段、干红葡萄酒，拌匀后码味二十分钟以上。 3、放沸水蒸锅中大火蒸约四十分钟，取出后沥干水分。 4、锅中放油烧至五成热，下排骨炸呈微黄色后捞出待用。 5、锅中留约一汤匙油，烧至五成热，下姜末、蒜末、豆豉，改小火不断翻炒约一分半钟，下排骨、油辣椒、芹菜、蚝油、盐，慢炒约三分钟至入味，放鸡精铲匀，起锅装盘即成。   </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/4.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				
					<div class="step color-5" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">五香粉蒸排骨</h3>
						<p><span class="color">用料：</span> 1、猪排骨一斤，斩段。 2、大米二两。 3、葱四棵，切碎。 4、甜面酱一大匙。 5、红糖一大匙。 6、酱油两大匙。 7、老姜极小块，切末。 8、醪糟汁两大匙。 9、五香粉一小匙。   </p>
						<p><span class="color">做法：</span>1、在排骨中放入盐、酱油、红糖、甜面酱、醪糟汁、葱碎、姜末、五香粉拌匀码味。 2、将珍珠米下锅烘焙呈微黄色，盛出晾凉后，放搅拌机里搅碎，倒入排骨中拌匀。上沸水蒸锅里用中大火蒸一小时。将碗取出后用另一大盘扣在碗上，把排骨翻倒在盘里即可上桌。   </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/5.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				
					<div class="step color-1" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">海带排骨汤 </h3>
						<p><span class="color">用料：</span> 1、猪排骨两斤，斩段。 2、鲜海带一斤，切长方块。 3、老姜一块，用刀拍破。 4、花椒二十余粒。 　5、黄酒两大匙。 6、盐适量。  </p>
						<p><span class="color">做法：</span>1、将海带块放沸水中十分钟，捞出后泡清水里。 2、将排骨放沸水里焯一下去血沫。 3、在炖锅中加半锅水，下排骨、海带、老姜、花椒、黄酒，大火烧沸后改微火煲一个半小时后放盐，改中火炖约十分钟，起锅盛汤钵里可配上适合自己口味的调料即可食用。   </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/6.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				
					<div class="step color-3" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">莲藕排骨汤 </h3>
						<p><span class="color">用料：</span> 1、排骨一斤半，斩成段在沸水中焯一下后捞起。 2、藕两斤（边沿九孔的粉藕），切小块或切段后用刀拍破。 3、老姜一切，用刀拍破。 4、花椒约二十粒。 5、黄酒两大匙。 6、盐适量。   </p>
						<p><span class="color">做法：</span>先把藉放炖锅中小火炖四十分钟，或在高压锅中压二十分钟，然后放入排骨，烧沸后打去浮沫，再放料酒、花椒、老姜，沸后改小火炖一小时后，放盐再继续炖一小时即成。   </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/7.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				
					<div class="step color-4" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">冬瓜排骨汤</h3>
						<p><span class="color">用料：</span> 1、猪排骨一斤，斩块。 2、冬瓜一斤半，切约一厘米厚的片。 3、葱半两，挽结。 4、老姜一块，用刀拍破。 5、花椒约二十粒。 6、黄酒两匙。 7、盐适量。   </p>
						<p><span class="color">做法：</span>1、将排骨在沸水中焯一下去腥味和血水，捞起备用。 2、炖锅中加水，放入姜块、葱结、花椒，烧沸后倒入排骨、黄酒。 3、再次烧沸后放盐，改微火煲一个半小时，再倒入冬瓜块。 4、改中火煮约二十分钟至冬瓜软熟，捞去葱结不要，盛烫碗里即可上桌。   </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/8.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				
					<div class="step color-1" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">孜然排骨</h3>
						<p><span class="color">用料：</span> 1、猪排骨半斤，斩小段后充分洗净。 2、孜然粉一咖啡匙。 3、花椒粉一咖啡匙。 4、辣椒粉两匙（可依个人喜好增减）。 5、葱两棵切碎。 6、老姜一小小块切末。 7、料酒两大匙。 8、白糖一匙。 9、盐、味精、红油适量。   </p>
						<p><span class="color">做法：</span>1、用盐、姜末、葱碎料酒放排骨里拌匀腌两小时以上。 2、放入孜然粉、花椒粉、辣椒粉、白糖、味精、红油，拌匀。 3、放微波炉里高火烤10分钟即成。   </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/9.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
				
					<div class="step color-4" >
					<div class="clear" style="clear: both;">
					<div class="jms-content">
						<h3 class="">红烧排骨</h3> 
						<p><span class="color">用料：</span> 排骨、胡萝卜（可根据个人口味改成土豆等）、香菇、大葱、姜、八角、陈皮。  </p>
						<p><span class="color">做法：</span>1.把水烧开，把排骨放进沸水煮1分钟，倒掉血水； 2.锅中放入少量油，烧至冒烟，放入姜、大葱爆香，再把排骨放入，翻炒片刻； 3.放入水，水开时放入八角、陈皮、胡萝卜和香菇； 4.放入调料（绍酒、盐、糖和老抽），   </p>
					</div>
                    <div class="pic">
					 <span><img src="images/paigu/10.jpg" class="reflect" /></span>
                    </div>
                    </div>
				</div>
	</div>
</DIV>
<nav class="jms-arrows">
<SPAN class="jms-arrows-prev" ></SPAN>
<SPAN class="jms-arrows-next" ></SPAN>
</nav>
</section>
</div>
		<script type="text/javascript">
		KISSY.use("event,switchable,datalazyload", function(S, Event,Switchable) {
		    var Carousel = Switchable.Carousel;
		    S.ready(function(S) {
		        //通过DOM元素新建旋转木马
		        var carousel = new Carousel('#jms-slideshow', {
		            effect: 'scrollx',
		            easing: 'easeOutStrong',
		            steps: 1,
		            viewSize: [640],
		            circular: true,
		            prevBtnCls: 'jms-arrows-prev',
		            nextBtnCls: 'jms-arrows-next',
		            //autoplay:true,//是否自动切换
		            disableBtnCls: 'disable'
		           
		        });
		       // carousel.on('itemSelected', function(ev) {
		       //     alert('I am selected. src = ' + ev.item.src);
		       // });
		        window.carousel = carousel;
		    });
		});
			
			KISSY.config({
				  packages:[ {
					  name:"gallery",
					  path : "http://a.tbcdn.cn/s/kissy",
					  charset:"utf-8"
				  } ],
				    map:[
				 [/(.+gallery\/.+)-min.js(\?[^?]+)?$/, "$1.js$2"]
				]
			});
			
			  KISSY.use('gallery/reflection/1.0/index', function(S, Reflection) {
       			 S.ready(function(S) {
				/*当没有参数时，给所有带有reflect类的图片创建倒影，倒影的高度和透明度比例在图片自定义属性data-rheight和data-ropacity中配置*/
				window.reflection = new Reflection('.reflect' ,{'height':.2,'opacity':.7});
				});
			});
		</script>