<section id="contact" class="nopager" data-sectionname="contact" style="background: url('/images/yulu/bg<%= locals.type%>.jpg') 0px 0px repeat;">
          <div class="wrapper clearfix" id="contact-content"  >
                 		
          		
          
        </div>		
</section>
<script type="text/template" id = "J_Temple">
<div class="element large {{current}}" data="{{index}}" id="J_Elm_{{index}}">
 <p class="number">{{loginname}}</p>
 	<div class="bbb ks-clear" >
		<img class="largeImg"  src="{{avatar}}"  style="max-height:155px" />{{email}}
	</div>
<H2 class="name"></H2>
<div class="element1 col1">&nbsp;</div>
</div>
</script>
<!--   -->
<script>
var getCarUrl = '/getDataAjax';	
	
KISSY.ready(function(S) {
        var  DOM = S.DOM, Event = S.Event;
	     var $container = $('#contact-content');
	      $container.isotope({
	        itemSelector : '.element',
	        masonry : {       
		         columnWidth : 250
			}
	      });
	      pageCount = 1;
	      pageId = 1;
          if(!msg){
    	 	 msg = new H.util.Msg();
		  }
          var msg = null;
           if(!msg){
         	 msg = new H.util.Msg();
		  }
	      var getCarAjax = function(pageId){
     	  		var SubmitHandle = function(o) {
                  msg.hide();    
				//var o = o.signature;
				var str = '';
				KISSY.use('template',function(){
					var temp= KISSY.Template(DOM.html(DOM.get('#J_Temple')));
					if(pageId!=13){
						var rnum = 0;
					}else{
						var rnum = 5;
					}
					KISSY.each(o.signature,function(data,index){
						data.index = index;
						if(index == 0 || index == 2){
							data.current = 'large1';
							
						}else{
							data.current = '';
						}
						str +=temp.render(data);
					 })
					 var totalRecords = o.totalRecords[0].total;
					
					 pageCount = Math.ceil(totalRecords/o.pageNum); 
					
					 if(pageId >= pageCount ){
						var d1 = "style='display:none'";
					 }else{
						 var d1 = "";
					 }
					 if(pageId <=1 ){
						var d2 = "style='display:none'";
					 }else{
						 var d2 = "";
					 }
					// str +=  '<div class="element corner-stamp2"  >&nbsp;</div>'; 
					 str += '<div class="element corner-stamp1 col10" ><p class="number1">'+pageId+'/'+pageCount+'</p><div class="load-more dark" style="display: block; ">'+
                			'<span class="label load prev" '+d2+' data="'+(pageId-1)+'">&nbsp;</span> '+
                            '<span class="label more next" '+d1+' data="'+(pageId+1)+'">&nbsp;</span> '+
                            '<span class="button"><span class="inner-circle"></span><span class="plus hor">'+
                			'</span><span class="plus ver"></span></span>'+
        					'</div></div>'; 
					 var $newEls = $(str)
					 var $container = $('#contact-content');
					 $container.html( $newEls ).isotope('reloadItems').isotope({ sortBy: 'original-order' }); 
				})
				 
	 	    };
	 	    var ErrorHandle = function(o){
                 msg.hide();
				 alert('服务器出错！！请稍后再试')
		 	};
            
            msg.setMsg('正在加载中，请稍候。。。').show();
            var type = <%= locals.type%>;
	 	    var data = "page_id="+pageId+"&type="+type+"&page_size=6";
	 	    new H.widget.asyncRequest().setURI(getCarUrl).setMethod("GET").setHandle(SubmitHandle).setErrorHandle(ErrorHandle).setData(data).setDataType('json').send();
	      }
	      getCarAjax(pageId);
	 	   
		 	  Event.delegate(document ,'click','.prev',function(ev){
		 		 pageId = Number(DOM.attr(ev.currentTarget,'data'));
		 		 getCarAjax(pageId);
		 		 pageId++;
		 		if(pageId >pageCount){
					pageId =1;
				}
		 	  })	
		 	 Event.delegate(document ,'click','.next ',function(ev){
		 		 pageId = Number(DOM.attr(ev.currentTarget,'data'));
		 		 getCarAjax(pageId);
		 		 pageId--;
		 		if(pageId <1){
					pageId =1;
				}
		 	  })	
		 	   
});	
</script>